.iconContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bankIcon {
    margin: 3rem;
    height: 5rem;
    width: 5rem;
    //border: 1px solid rgba(168, 168, 168, 0.418);
    border-radius: 50%;
}

#mBankContainer {
    display: none;
    flex-direction: column;
}

//Mobile responsiveness

@media (max-width: 768px) {
    .iconContainer {
        display: none;
    }

    #mBankContainer {
        display: flex;
    }

    .mBankIcon {
        height: 20%;
        width: 20%;
        margin: 5%;
    }
}

.mIconContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}