#footer {
    width: 100%;
    //height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(47, 47, 47);
    color: white;
}

//below is common for mobile and desktop views

.fbutton {
    text-decoration: none;
    color: white;
    padding: auto;
}

#footerEnd {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#footerEnd > h5 {
    margin: 0 5% 0 5%;
}

#mFooter {
    display: none
}

//Mobile responsiveness

@media (max-width: 768px) {
    #footer {
        display: none;
    }

    #mFooter {
        display: flex;
        flex-direction: column;   
        align-items: center;
        width: 100%;
        background: rgb(47, 47, 47);
    }

    #mFooter > h5 {
        margin: 0;
        padding: 0;
    }

}