#footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(141, 136, 136, 0.719);
}

#footerEnd {
    display: flex;
    justify-content: space-between;
    width: 100%;
}