@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

#plContainer {
    //background: linear-gradient(white,rgb(39, 100, 92));
    display: flex;
    justify-content: center;
    padding: 5vh 5vw;
    max-height: 70vh;
}

#plForm {
    width: 25%;
    background: linear-gradient(rgb(24, 132, 182),rgb(159, 205, 243));
    //height: 65vh;
    border-radius: 20px;
    box-shadow: 1px 1px 10px 2px rgb(0,0,0);
    padding: 2vh 2vw;
    text-align: center;
}


#plForm > h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 3vmin;
    margin-bottom: 5vh;
    padding: 0;
}

#plFormControls {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.plFormGroup {
    //margin: 1rem;
    display: flex;
    justify-content: space-between;
}

.plFormGroup > label {
    text-align: left;
}

.plFormGroup > input {
    //margin-left: 2vw;
    background: #5aa8d4;
    border: 0.1px solid white;
    border-radius: 3px;
    height: 1.4rem;
    padding: 0.3rem;
}

.option {
    //margin-left: 2.5rem;
    background: #5aa8d4;
    border: 0.1px solid white;
    border-radius: 3px;
    height: 2rem;
    width: 56%;
    padding: 0.3rem;
}

#plSubmit {
    border: none;
    color: white;
    background: #44ad95;
    border-radius: 2px;
    padding: 1rem;
    margin-top: 2rem;
}

.err {
    font-family: sans-serif;
    font-size: 1rem;
    margin: 0.4rem 0 0.4rem 10rem;
    color: rgb(149, 36, 36);
    padding: 0;
}

#plCarousel {
    margin-left: 8rem;
}

.carImg {
    max-width: 40rem;
    max-height: 40rem;
    border-radius: 2rem;
}


#whypersonal {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin:auto;
    text-align: center;
}

#whypersonal > p {
    text-align: justify;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    line-height: 1.5;
}

.mPointers {
    text-align: justify;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    line-height: 1.5;
}

#whypersonal > h4{
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    font-size: 2rem;
}
//Mobile Responsiveness

#mPersonalContainer {
    display: none;
}

@media only screen and (max-width: 768px){
    #mainContainer {
        display:none;
    }

    #mPersonalContainer {
        display: initial;
    }
}

#mPersonalLoanContainer {
    display: flex;
    flex-direction: column;
    background: rgb(40, 107, 79);
    width: 100%;
    height: 100%;
}

#mFormTitle {
    color: white;
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    text-align: center;
    margin: 8% auto 3% auto;
}

.mFormGroup {
    display: flex;
    flex-direction: column;
    margin: auto auto 5% auto;
    width: 70%;
}


.mFormLabel {
    font-size: 0.8rem;
    //letter-spacing: 2px;
    font-family: sans-serif;
    font-weight: 400;
    color: white;
    margin-bottom: 1%;
}

.mFormInput {
    height: 2rem;
    padding: 0.2rem 0.2rem 0.2rem 0.6rem;
    border-radius: 5px;
    border:transparent;
}

.mFormInput:focus {
    animation-name: innerBorder;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

.mFormOption {
    width: 100%;
    height: 2.1rem;
    border: none;
    -webkit-appearance: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    font-size: 0.8rem;
}

.mFormOption:focus {
    outline: none;
    animation-name: innerBorder;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}
@keyframes innerBorder {
    0% {
        box-shadow: inset 0px 0px 0px 3px rgba(226, 114, 9, 0.418);
    }

    50% {
        box-shadow: inset 0px 0px 0px 3px rgba(226, 114, 9, 0.76);
    }

    100% {
        box-shadow: inset 0px 0px 0px 3px rgba(226, 114, 9, 1);
    }
}

.mFormInput::placeholder {
    color: rgba(0, 0, 0,0.6);
    font-family: sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
}

#mFormSubmit {
    border: none;
    border-radius: 10px;
    background: rgb(206, 94, 50);
    margin: 5% 0 5% 0;
    width: 12rem;
    height: 3.5rem;
    align-self: center;
    color: white;
    font-family: sans-serif;
    letter-spacing: 5px;
}