#bg {
    display: initial;
}

#PLSbanner {
    padding: 3%;
    //background: rgba(0,129,92,1);
    color: #02f9c2;
    text-shadow: 1px 1px rgba(0,0,0,1);
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 5vmin;
    text-align: center;
}

#PLSdescription {
    max-width: 65vw;
    margin: auto;
    text-align: justify;
    padding: 3vmin;
    background: rgba(0,0,0,0.8);
    line-height: 1.6;
    color: white;
    border: 5px solid #02f9c2;
    border-radius: 10px;
}

#PLSdescription > h4 {
    text-align: center;
}

#sliders {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    //padding: 1%;
}

#amtSlider {
    width: 30%;
    padding: 3vmin;
    background: rgba(0,0,0,0.8);
    border: 5px solid #02f9c2;
    border-radius: 30px;
}

#trmSlider {
    width: 30%;
    padding: 3vmin;
    background: rgba(0,0,0,0.8);
    border: 5px solid #02f9c2;
    border-radius: 30px;
}

#bankOffers{
    display: flex;
    flex-direction: column;
    background: url('../../public/images/hector.jpg');
}

.bankbox {
    display: flex;
    width: 50%;
    margin: auto auto 8% auto;
    border: 1px solid white;
}

.bankProp {
    display: flex;
    flex-direction: column;
    margin: auto;
}

//Mobile considerations

@media only screen and (max-width: 768px) {
    #bg {
        display: none;
    }
    #PLSbanner {
        padding: 8%;
        background-color: #286b4f;
        color: white;
        text-shadow: none;
    }

    #PLSdescription {
        max-width: 100%;
        text-align: justify;
        margin: 5%;
        padding: auto;
        background: white;
        color: black;
    }

    #PLSdescription p {
        color: rgba(0,0,0,0.8);
    }

    #PLSdescription h4 {
        text-align: center;
        color: #286b4f;
    }

    #bankOffers {
        background: transparent;

    }

//Slider begin

    #sliders {
        flex-direction: column;
        width: 95%;
        background: #286b4f;
        margin-bottom: 5%;
    }

    #amtSlider {
        width: 90%;
        padding: 5%;
    }
    
    #trmSlider {
        width: 90%;
        padding: 5%;
    }

//Slider end

    .bankbox {
        flex-direction: column;
        width: 80%;
        padding: 5%;
        box-shadow: 3px 3px 5px 5px rgba(40, 107, 79,0.8);
        border-radius: 10px;
    }

    .bankLogo{
        max-width: 40%;
        border-radius: 5px;
        margin-bottom: 2%;
    }

    .bankProp {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 2%;
    }
}

