#privacy {
    width: 70vw;
    margin: 8vh auto 17vh auto;
    font-family: sans-serif;
    letter-spacing: 1px;
    background: rgba(0,0,0,0.8);
    color: white;
    padding: 3%;
    line-height: 3vmin;
    border-radius: 5vmin;
}

#privacy h4 {
    font-size: 5vmin;
    text-align: center;
    color: #02f9c2;
}

#privacy p {
    text-align: justify;
} 