#whyContainer {
    max-width: 100vw;
    background: linear-gradient(white,#e5d270);
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}

#content {
    font-family: sans-serif;
    max-width: 100%;
    text-align: center;
}

#content > h1 {
    font-weight: 300;
    font-size: 5vmin;
}

#content > h4 {
    font-weight: 200;
    font-size: 2vmin;
}

#content > hr {
    color: black;
    border-style: dotted;
}

#benefits {
    display: flex;
}

.benefit {
    display: flex;
    flex-direction: column;
    width: 15vw;
    margin: 5vh 5vw;
}

.benefit > p {
    line-height: 3vmin;
    font-size: 1.6vmin;
}


//partial why component

#whyPartContainer {
    max-width: 80vw;
    margin-left: 8vw;
    background: white;
    display: flex;
    justify-content: center;
    padding: 2vmin 0;
}

.partbenefit {
    display: flex;
    flex-direction: column;
    max-width: 15vw;
    margin: 2vh 3vw;
}
//Mobile responsiveness

@media (max-width: 768px) {
    #whyContainer {
        width: 100vw;
    }

    #content {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #content > h1 {
        font-weight: 300;
        font-size: 10vmin;
    }
    
    #content > h4 {
        font-weight: 200;
        font-size: 5vmin;
    }

    #benefits {
        flex-direction: column;
        }

    .benefit {
        width: 60%;
        margin: auto auto 10vh auto;
        line-height: 3vmin;
        font-size: 4vmin;
    }

    .benefit > p {
        line-height: 6vmin;
        font-size: 4vmin;

    }

    .benpic {
        align-self: center;
        width: 40vmin;
        height: 40vmin;
    }
}