.background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: url('../../public/images/hector.jpg');
    filter: blur(3px);
    background-size: cover;
    width: 100vw;
    height: 100vh;
}